version: "3.8"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_DATABASE: translations
      DB_USERNAME: root
      DB_PASSWORD: root

  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: translations
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
